:root {
  --max-width: 1240px;
  --color-accent: #ffa1d2;
  --color-accent-shadow: rgba(255, 161, 210, 0.4);
}

[data-theme="light"] {
  --color-text: #000;
  --toggle-transform: translateY(-50%);
  --toggle-background: #ecebf2;
}

[data-theme="dark"] {
  --color-text: #fff;
  --toggle-transform: translateY(0%);
  --toggle-background: #000;
}
