[data-theme="light"] {
  --color-text: #000;
  --color-background: #fff;
  --color-accent: #525fe1;
  --toggle-transform: translateY(-50%);
  --toggle-background: #87cefa;
}

[data-theme="dark"] {
  --color-text: #fff;
  --color-background: #000;
  --color-accent: #525fe1;
  --toggle-transform: translateY(0%);
  --toggle-background: rgb(39, 83, 107);
}
