:root {
  --max-width: 1240px;
  --color-accent: #2e40f9;
}

[data-theme="light"] {
  --color-text: #000;
  --toggle-transform: translateY(-50%);
  --toggle-background: #ecebf2;
}

[data-theme="dark"] {
  --color-text: #fff;
  --toggle-transform: translateY(0%);
  --toggle-background: #000;
}
