---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>About me</h1>
  <p>
    Greetings! I'm Nikola Margit, web developer & constant learner. My
    exploration into web development began in 2015 when I started tinkering with
    code for personal projects. Currently, my professional voyage has led me to <a
      href="https://cake.com">CAKE.com</a
    >, where I contribute as a React developer focused on <a
      href="https://plaky.com">Plaky</a
    >, Project & Task Management Software. It's a dynamic project that allows me
    to apply my skills to a product that helps streamline and enhance project
    workflows.
  </p>

  <p>
    I live in Belgrade, Serbia with my wife, son, and our four-legged companion
    Maggy.
  </p>
</BaseLayout>
