---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Hi, I'm Nikola Margit</h1>
  <p>
    I'm a web developer based in Belgrade, Serbia. Currently, I contribute as a
    React developer at CAKE.com, where my focus lies in creating seamless and
    visually refined user interfaces using React and TypeScript. I am
    particularly dedicated to the principles of accessibility, ensuring that the
    digital solutions I craft are inclusive and user-friendly.
  </p><p>
    My blog serves as a learning diary, capturing my continuous exploration of
    new concepts and technologies. It's a space where I document the challenges
    and insights encountered on my journey through the ever-evolving landscape
    of web development. Join me as I delve into the intricacies of this dynamic
    field, one blog post at a time.
  </p>
</BaseLayout>
