---

---

<div>
  <slot />
</div>
<style>
  div {
    background: var(--color-primary);
    background-image: url(/grain.png);
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-text);
  }
</style>
