---
import HeaderLink from "./HeaderLink.astro";
import LogoSVG from "./LogoSVG.astro";
import ColorModeToggleButton from "./ColorModeToggleButton.astro";
---

<header>
  <nav>
    <h2>
      <a href="/">
        <span class="sr-only">Go to homepage</span>
        <LogoSVG class="nav-logo" width="70px" />
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
    </div>
    <div>
      <ColorModeToggleButton />
    </div>
  </nav>
</header>
<style>
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    padding: 1em 0.5em;
    display: flex;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--color-accent);
  }
</style>
