---
import HeaderLink from "./HeaderLink.astro";
import LogoSVG from "./LogoSVG.astro";
---

<script>
  const COLOR_MODE_LS_KEY = "color-mode";

  const check = document.getElementById(
    "light-dark-toggle"
  ) as HTMLInputElement;
  const isChecked = window.localStorage.getItem(COLOR_MODE_LS_KEY);

  if (isChecked === "dark") {
    check.checked = true;
  }

  check?.addEventListener("change", (e) => {
    const checked = (e.target as HTMLInputElement).checked;
    localStorage.setItem(COLOR_MODE_LS_KEY, checked ? "dark" : "light");
  });
</script>
<header>
  <nav>
    <h2>
      <a href="/">
        <span class="sr-only">Go to homepage</span>
        <LogoSVG class="nav-logo" width="70px" />
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div>
      <label>
        <input type="checkbox" id="light-dark-toggle" />
         Dark mode
      </label>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    padding: 1em 0.5em;
    display: flex;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
