---
import HeaderLink from "./HeaderLink.astro";
import ColorModeToggleButton from "./ColorModeToggleButton.astro";
import DashBreak from "./DashBreak.astro";
import LogoSVG from "./LogoSVG.astro";
---

<header>
  <nav>
    <div class="header-wrapper">
      <h2>
        <a href="/">
          <span class="sr-only">Go to homepage</span>
          <LogoSVG />
        </a>
      </h2>
      <div class="nav-wrapper">
        <HeaderLink href="/">home</HeaderLink>
        <HeaderLink href="/blog">blog</HeaderLink>
        <HeaderLink href="/about">about</HeaderLink>
        <ColorModeToggleButton />
      </div>
    </div>
    <DashBreak />
  </nav>
</header>
<style>
  nav {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 1.6rem 1.6rem;
  }
  .header-wrapper {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    display: flex;
    margin-bottom: 3rem;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  h2 {
    display: none;
    margin: 0;
  }
  h2 a {
    color: var(--color-text);
  }

  @media screen and (min-width: 768px) {
    h2 a,
    h2 a.active {
      text-decoration: none;
      display: flex;
    }
  }
</style>
