---
import HeaderLink from "./HeaderLink.astro";
import LogoSVG from "./LogoSVG.astro";
import ColorModeToggleButton from "./ColorModeToggleButton.astro";
---

<header>
  <div>
    <h2>
      <a href="/">
        <span class="sr-only">Go to homepage</span>
        <LogoSVG class="nav-logo" size="70px" />
      </a>
    </h2>
    <nav>
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
    </nav>
  </div>
  <div>
    <ColorModeToggleButton />
  </div>
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
  }
  header > div {
    display: flex;
  }
  h2 {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  nav a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.4rem;
  }
  nav a.active {
    text-decoration: underline;
    font-weight: normal;
    position: relative;
  }

  @media screen and (min-width: 768px) {
    h2 {
      display: block;
      margin: 0;
      margin-right: 2rem;
      font-size: 1em;
    }
    h2 a,
    h2 a.active {
      text-decoration: none;
      padding: 1em 0.5em;
      display: flex;
    }
  }
</style>
