---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
  <div class="underline"></div>
</a>
<style>
  span {
    display: inline-block;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: var(--color-text);
    padding: 0rem 0.4rem;
  }
  a.active .underline {
    width: 100%;
  }
  .underline {
    height: 2px;
    width: 0%;
    background: var(--color-text);
    transition: width 0.15s ease-in;
  }
  a:hover .underline {
    width: 100%;
  }
</style>
