---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  span {
    display: inline-block;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #fff;
    width: 6rem;
  }
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: #fff;
    padding: 0rem 0.4rem;
  }
  a.active {
    text-decoration: underline;
  }
</style>
