---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource/atkinson-hyperlegible";
---

<html lang="en" data-theme="light">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="preload"
      href="/Atkinson-Hyperlegible-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <script is:inline>
      function getInitialColorMode() {
        const persistedColorPreference =
          window.localStorage.getItem("color-mode");
        const hasPersistedPreference =
          typeof persistedColorPreference === "string";

        if (hasPersistedPreference) {
          return persistedColorPreference;
        }

        const mql = window.matchMedia("(prefers-color-scheme: dark)");
        const hasMediaQueryPreference = typeof mql.matches === "boolean";
        if (hasMediaQueryPreference) {
          return mql.matches ? "dark" : "light";
        }

        return "light";
      }

      document
        .querySelector("html")
        .setAttribute("data-theme", getInitialColorMode());
    </script>
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />
    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
      main {
        flex: 1;
      }
    </style>
  </body>
</html>
