---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en" data-theme="light">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script is:inline>
      function getInitialColorMode() {
        const persistedColorPreference =
          window.localStorage.getItem("color-mode");
        const hasPersistedPreference =
          typeof persistedColorPreference === "string";

        if (hasPersistedPreference) {
          return persistedColorPreference;
        }

        const mql = window.matchMedia("(prefers-color-scheme: dark)");
        const hasMediaQueryPreference = typeof mql.matches === "boolean";
        if (hasMediaQueryPreference) {
          return mql.matches ? "dark" : "light";
        }

        return "light";
      }

      document
        .querySelector("html")
        .setAttribute("data-theme", getInitialColorMode());
    </script>
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
